<div class="no-style" style="margin-left: 4px">
  <div class="container">
    <h2>Datos del usuario</h2>
    <form [formGroup]="formDataUserBooking" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name"
          [(ngModel)]="model.name" required>
      </div>
      <div class="form-group">
        <label for="surname">Apellido</label>
        <input type="text" class="form-control" id="surname" name="surname" formControlName="surname"
          [(ngModel)]="model.surname" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [min]="1" [max]="100"
          formControlName="email" [(ngModel)]="model.email" required>
      </div>
      <div class="form-group">
        <label for="phone">Movil</label>
        <input type="tel" class="form-control" id="phone" name="phone" [min]="0" formControlName="phone"
          [(ngModel)]="model.phone">
      </div>
      <button type="submit" class="btn btn-success btn-color mt-4">Save</button>

    </form>
  </div>

