<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <app-data-booking (newItemEvent)="addItem($event)"></app-data-booking>
    </div>
    <div class="col-lg-6">
      <app-data-user-booking (newItemEvent)="addUserData($event)"></app-data-user-booking>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-success btn-color mb-4" (click)="onSubmit()">Next</button>
      <div class="table">
        <div class="table-row">
          <div class="table-col p-2 title">Apartamento</div>
        </div>
        <div class="table-row">
          <div class="table-col p-2">{{name}}</div>
        </div>
        <div class="table-row ">
          <div class="table-col p-2 title">Pueblo </div>
        </div>
        <div class="table-row ">
          <div class="table-col p-2">{{town}}</div>
        </div>
        <div class="table-row ">
          <div class="table-col p-2 title"><a [href]="'https://www.google.com/maps/place/'+location">Mapa</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
